/* font-import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* body-style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* header-style */
.header{
    display: flex;
    background-color:#1E1E1E;
    justify-content:space-around;
    padding-top: vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    border-radius:1vw;
}


/* banner-info-style */
.banner-info{

    max-height:2vw ;
    padding-left: 3vw;
}


/* banner-h1-style */
.banner-h1{
    color: white;
    font-size: 5.2vw;
    line-height: 5.8vw;


}


/* banner-p-style */
.banner-p{
    color: white;
    font-size: 1.5vw;
    
}


/* banner-button-style */
.banner-button{
    color: white;
    background-color: red;
    padding: 1vw 1.5vw;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 600;
    transition: 0.2s ease-in-out 0s;
    cursor: pointer;
    
}

/* animation-style */
.banner-button:hover{
   transform: scale(1.25);

}



/* fa-angle-right-style */
.fa-angle-right{
    padding-left: 0.8vw;
}


/* test-style */
.test{
    width: 36vw;
    padding-right: 2vw;
    
}


/* main-section-style */
.main-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1vw;
    padding-top: 1.7vw;
    margin-left: 2vw;
    margin-right: 5vw;
    border-radius: 2vw;
}


/* left-side-section-style */
.left-side-section{
    background-color: #1E1E1E;
    border-radius: 1vw;
    margin-right: 1.2vw;
    grid-column:1;
    height: 22vw;
    width: 15vw;
    padding-top: 0.5vw;
    margin-top: 1.5vw;
}

/* right-section-style */
.right-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    

}


/* right-side-section-style */
.right-side-section{
    margin-right: 0.2vw;
    margin-top: 1.5vw;
}


/* upcoming-match-style */
.upcoming-match{
    background-color: white;
    margin: 1.5vw;
    font-size: 1.5vw;
    padding: 1.1vw;
    border-radius: 0.5vw;
}

/* all-group-style */
.all-group{
    background-color: white;
    margin: 1.5vw;
    padding: 1.1vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
}

/* blog-style */
.blog{
    background-color:red;
    margin: 1.5vw;
    padding: 1.1vw;
    border-radius: 0.5vw;
    font-size: 1.5vw; 
}


/* blogs-style */
.blogs{
    margin-right: 1vw;
}


/* blog-image-style */
.blog-image{
    width: 25.1vw;
    height:auto;
    
}
.p-1{
    font-size: 1.2vw;
    padding-right: 3vw;
}


/* button-style */
.button {
    font-size: 1.5vw;
}
button{
    font-size: 1vw;
}


/* icon-style */
.icon{
    display: flex;
    font-size:1.5vw ;
    
}


/* icon-2-style */
.icon-2{
    margin-left: 1vw;
}


/* button-2-style */
.button-2{
    background-color: red;
    padding: 0.5vw 2vw;
    border-radius: 1vw;
    margin-left: vw;
    font-size: 2vw;
    margin-top: 5vw;
    color: white;
    border: 0.3vw solid black;
    
    
}



/* footer */
.footer{
    background-color: #1E1E1E;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-top: 5vw;
    

}



/* footer-header-style */
.footer-header{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5vw;
   
    
}


/* border-style */
.border{
    border: 1px dotted white;
    margin-left: 22vw;
    margin-right: 20vw;
}


/* nav-menu-style */
.nav-menu{
    padding-top: 1vw;
}


/* nav-ul-style */
nav ul{
    display: flex;
    justify-content: center

}

/* nav-li-style */
nav li{
    list-style: none;
    margin-left: 1.6vw;
    color: white;
  
    
}

.social-link{
    text-align: center;
    padding-top: 2vw;

}
.fa-facebook{
    font-size: 2vw;
    text-decoration: none;
    color: white;
    
}
.fa-instagram{
    font-size: 2vw;
    text-decoration: none;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
}
.fa-whatsapp{
    font-size: 2vw;
    text-decoration: none;
    color: white;
    
}

/*----------------------
 ----tab version-----*/

 @media screen and (min-width: 688px) and (max-width: 992px) {
    


.banner-h1{
    font-size:6vw ;
    line-height: 7vw;
}
.banner-p{
    font-size: 2vw;padding-right: 8vw;
}
.banner-button{
    padding: 1.2vw 1.8vw;
    border-radius: 0.7vw;
    font-size: 1vw;
    font-weight: 600;
    

}
.left-side-section{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 96vw;
background-color: white;
height: 5vw;
margin-bottom: 3vw;
margin-top: 7vw;

    
}
.upcoming-match{
    border: 1px solid black;
    margin: 0;
    padding-left: 6vw;

}
.all-group{
    border: 1px solid black;
    margin: 0;
    margin-left: 2vw;
    padding-left: 10vw;
}
.blog{
    border: 1px solid black;
    margin: 0;
    margin-left: 2vw;
    padding-left: 12vw;
}
.right-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main-section{
    grid-template-columns: auto;

}
.left-side-section{
    grid-template-rows: auto;
}
button{
    font-size: 1.5vw;
    margin-top: 1vw;
}
.p-1{
    padding-right: 5vw;
    font-size: 2vw;
}
.icon{
    font-size: 2vw;
}
.blog-image{
    width: 47.3vw;
    height:auto;
}
nav li{
    font-size: 1.8vw;
    margin-left: 2vw;
    
}

 }

/*------------------------
 ----Mobile Version-----*/

 @media screen and (max-width:687px) {
    .header{
        border-radius: 3vw;
        display: flex;
        flex-direction: column;
        padding-top: 2vw;
    
    }
    .banner-h1{
        font-size:7vw ;
        line-height: 9vw;
        padding-left: 15vw;
        padding-right: 15vw;
        text-align: center;
        
        
    }
    .banner-p{
        font-size: 2.5vw;
        padding-right: 8vw;
        padding-left: 15vw;
        padding-right: 18vw;
        text-align: center;
    }
    .banner-button{
        padding: 1.5vw 4vw;
        border-radius: 0.7vw;
        font-size: 2vw;
        font-weight: 500;
        letter-spacing: 0.1vw;
        margin-left: 32vw;
    
    }
    .banner-image{
        padding-left: 30vw;
        padding-top: 45vw;
        
    }
    .main-section{
        margin-left: 0vw;
        display: flex;
        flex-direction: column;
    }
    .left-side-section{
        display: flex;
        flex-direction: column;
        width: 4vw;
        background-color: white;
        height: 5vw;
        margin-bottom: 1vw;
        margin-top: 5vw;
        margin-left:34vw 

    }
    
       
    
    
    .upcoming-match{
        border: 1px solid black;
        border-radius: 1vw;
        font-size: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 10vw;
        padding-right: 18vw;
        
    } 
    .all-group{
        border: 1px solid black;
        border-radius: 1vw;
        font-size: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 10vw;
        padding-right: 18vw;
    } 
    .blog{
        border: 1px solid black;
        border-radius: 1vw;
        font-size: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 10vw;
        padding-right: 18vw;
    } 
    .right-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 30vw;
        
        
    }
    .right-side-section{
        margin-left: 2vw;
        margin-right: 0;
    }
    .blog-image{
        width: 96vw;
        height:auto;
    }
    button{
        font-size: 3vw;
        margin-top: 2vw;
    }
    .p-1{
        padding-right: 5vw;
        font-size: 3vw;
    }
    .icon{
        font-size: 3vw;
        
    }
    .ul{
        font-size: 1.8vw;
        margin-left: 2vw;
        display: flex;
        flex-direction: column;
        padding-left: 40vw;


        
    }
    .li{
        padding-top: 2vw;
    }
    .footer-header{
        font-size: 3vw;
    }
    .button-2{
        display: none
    }

    .social-link{
        text-align: center;
        padding-top: 4vw;
        padding-bottom: 5vw;
    }
    .fa-facebook{
        font-size: 3vw;
        text-decoration: none;
        color: white;
        
    }
    .fa-instagram{
        font-size: 3vw;
        text-decoration: none;
        color: white;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .fa-whatsapp{
        font-size: 3vw;
        text-decoration: none;
        color: white;
        
    }
    
} 

@media screen and (min-width:993px) {
    .button-2{
        display: none;
    }
    
}


